
.caption {
    font-weight: bold;
    margin: 2em 0 1em 0;
}

.container {
    margin-left: .7em;
}

.block {
    margin-bottom: 1em;
}

.baseEdit, .edit {
    border-bottom: 1px solid #bf7326;
}

.edit {
    width: 16px;   
    margin: 0 .3em;
    padding-left: .1em;
}

.margin {
    margin-top: .8em;
}