
.eventInfo {
  padding: 1em;
}

.notice {
  font-weight: 100;
  margin-bottom: 1em;
}

.eventTitle {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 1em;
}

.eventTickets {
  margin-top: 1em;
}

.eventProperty {
  display: flex;
  margin-bottom: .2em;
}

.eventProperty :nth-child(1) {
  flex: 0 0 3.3em;
}

.eventProperty :nth-child(2) {
  flex: 1;
  font-weight: bold;
}

.tickets {
  font-weight: bold;
  color: #bd864e;
}

.icon {
  z-index: -1;
  font-size: 300px;
  color: #dbe9f3;
  position: absolute;
  right: .02em;
  bottom: 0.6em;
}

.strike {
  display: inline-block;
  position: relative;
  margin-right: .2em;
}
.strike::before {
  content: '';
  position: absolute;
  left: -0.1em;
  right: -0.1em;
  top: 0.38em;
  bottom: 0.38em;
  background: linear-gradient(to left top, transparent 45.5%, red 47.5%, red 52.5%, transparent 54.5%);
  pointer-events: none;
}

.actions {
  display: flex;
  align-items: baseline;
}

.actions * {
  outline: none;
  user-select: none;
}

.actionsSlider {
  margin-right: 1.1em;
}

.switch {
  margin: .4em .8em;
}
