
.event_form {
  margin-top: 1em;
}

.event_form label input {
  width: 82%;
}

.label_text, .label_text_short {
  text-transform: capitalize;
  display: inline-block;
  width: 6.666em;
}

.label_text_short {
  width: 5.4em;
}

.noPadding {
  padding: 0 !important;
}

.fullWidth, .fullWidthChild span {
  width: 100%;
}

.dropdown {
  margin: 0 0 1em 5.3em;
}

.form-time-range {
  display: flex;
}
