
.sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.smaller {
    font-size: 85%;
}

.noSelect {
    user-select: none;
}

.error {
    font-size: 12px;
    color: #ac2f33;
}

.noMargin {
    margin: 0;
}
