
.sticky {
    position: fixed !important;
    width: 100%;
}

.active {
    color: #bf7326 !important;
}

.passive {
    color: #777;
}

a.nav-link.active {
    color: #bf7326;
}


.nav-link:focus {
    outline: none;
}
